.jugador-disponible {
  width: 90px;
  text-align: center;
  margin: 5px;
  cursor: grab;
  font-size: 0.7rem;
}

.jugador-disponible img {
  width: 100%;
  border-radius: 25%;
  border: 2px solid goldenrod;
  object-fit: cover;
  background-color: #182432;
}

.jugador-disponible p {
  margin: 4px 0 0;
  font-weight: bold;
  color: goldenrod;
  text-shadow: 1px 1px 2px black;
  line-height: 1rem;
}
