.clubes-destacados-container {
  padding: 20px;
  text-align: left;
}

.clubes-destacados-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.clubes-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-items: center;
}

.club-card {
  background: #1a2a4dcc;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  text-align: center;
  width: 100%;
  max-width: 180px;
  color: white;
  border: 1px solid #ffffff22;
}

.club-card:hover {
  transform: scale(1.05);
  background: #1f2e4d; /* color oscuro sólido */
}

.club-card img {
  max-width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.club-card p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
