.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #0a1a33cc;
  color: white;
  position: relative;
}

.header__logo {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.logo-img {
  height: 60px;
  object-fit: contain;
}

.header__search {
  flex-grow: 1;
  max-width: 600px;
  width: 100%;
}


.search-input {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #1f63ff;
}
