.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0a1a33cc;
  color: white;
  position: relative;
}

.header__logo {
  flex-shrink: 0;
  margin-left: -1%;
}


.logo-img {
  height: 60px;
  object-fit: contain;
}

.header__search {
  flex-grow: 1;
  max-width: 600px;
  width: 100%;
}

.header__actions {
  flex-shrink: 0;
  margin-left: 5rem;
}

.armatu11-btn {
  background-color: black;
  color: goldenrod;
  border: whitesmoke;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.armatu11-btn:hover {
  background-color: whitesmoke;
}
