.club-info {
  align-items: center;
  padding: 1rem;
  color: white;
  text-align: center;
}

.club-info img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.club-info h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.club-info h3 {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
}

.club-info ul {
  list-style: none;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
}
