.jugador-detalle {
  padding: 2rem;
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}


.jugador-imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 25%;
  margin-right: 1.5rem;
  border: 3px solid goldenrod;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.jugador-info h2 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}

.jugador-info p {
  margin: 0.2rem 0;
  font-size: 1rem;
  color: #ddd;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.seccion {
  margin-top: 2rem;
  background-color: rgba(10, 26, 51, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

.seccion h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.trofeos-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.jugador-detalle-container {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.jugador-top-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.jugador-info,
.estadisticas-jugador-container {
      height: 100%;
}

@media (min-width: 900px) {
  .jugador-top-section {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .jugador-top-section > * {
    flex: 1;
  }

  .jugador-info {
    flex: 1; 
  }

  .jugador-top-section > .estadisticas-jugador-container {
    margin-left: 40px;
  }
  
  .estadisticas-jugador-container {
    margin-top: 0;
  }



}
